.light-buttons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.light-buttons li {
  width: 100%;
  padding: 10px 0;
}

.button {
  background: --green;
  color: --dark-green;
  width: 100%;
  text-align: center;
  font-family: inherit;
  padding: 10px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid currentColor;
}

@media screen and (min-width: 25em) {
  .light-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .light-buttons li {
    padding: 10px 10px;
    width: 50%;
    padding: 10px;
  }
}

@media screen and (min-width: 37.5em) {

  .light-buttons li {
    width: 20%;
  }

}
