/**
 *
 * Message modal styles
 *
 */
.message-modal {
  padding: 12px 10px;
  margin: 20px 0;
  color:var(--dark-green);
  background: var(--light-teal);
  border: 1px solid currentColor;
  border-radius: 4px;
  text-align: center;
}
